<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971088259141-o3c2cb5hjape11ku2idj0fcspi2e4bj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971088259141-o3c2cb5hjape11ku2idj0fcspi2e4bj6</string>
	<key>API_KEY</key>
	<string>AIzaSyABsAup-rOsqAjlfGQsW1dwWphrBV-Mo1E</string>
	<key>GCM_SENDER_ID</key>
	<string>971088259141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>ios-projectmanager-75475</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-projectmanager-75475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971088259141:ios:3fd003442bd9700cf6db2c</string>
</dict>
</plist>